<footer class="text-center text-white" id="footer">
  <div class="container-fluid">
        <div class="row" id="links">
          <div class="col-md-3">
            Vaibhav Vishwanath
            <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/vaibhav-vishwanath"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          >   <i class="fab fa-linkedin"></i
        ></a>
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:vavish@iu.edu"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-envelope"></i
        ></a>    
          </div>
          <div class="col-md-3">
            Amol Sangar 
            <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/amol-sangar"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          >   <i class="fab fa-linkedin"></i
        ></a>
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:asangar@iu.edu"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-envelope"></i
        ></a>
          </div>
          <div class="col-md-3">
            Bhushan Patil 
            <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/bhushan-patil3819"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          >   <i class="fab fa-linkedin"></i
        ></a>
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:bpatil@iu.edu"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-envelope"></i
        ></a>
          </div>
          <div class="col-md-3">
           <!-- Github -->
         <a
         class="btn btn-link btn-floating btn-lg text-light m-1"
         href="https://github.com/airavata-courses/Puzzles"
         role="button"
         target="_blank"
            style="color:white"
         > <i class="fab fa-github"></i>  Visit our GitHub repository       
       </a>
      </div>
        </div>

        
      
        
      
        <!-- Linkedin -->
        
        
       
  
      
  <div class="row">
    <div class="col-md-12" id="last">
     
      <p class="text-light">This webpage has been developed as part of CSCI-B649 Applied Distributed Systems Course at IU Bloomington</p>
    </div>
  </div>
  </div>
    <!-- Copyright -->
  </footer>