<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<div class='container-login' id='registercontainer'>
    <h1>Register for Weather App</h1>
    <form [formGroup]="registerForm" (submit)="submitRegister($event)">
        <div class='form-group'>
            <label for="name">Name</label>
            <div class="input-group">    
                <div class="input-group-prepend">
                    <span class="input-group-text">
                    <i  ngbTooltip='Full Name' class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <input formControlName='name' class="form-control" type="text" id="name" name="name" placeholder="Enter Full Name" ><br/>
            </div>
            <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)"class="alert alert-danger">
                <div *ngIf="registerForm.get('name')?.errors?.['required']">Name is required.</div>
            </div>
         


        </div>
        <div class='form-group'>
            <label for="email">Email address</label>
            <div class="input-group">    
                <div class="input-group-prepend">
                    <span class="input-group-text">
                    <i  ngbTooltip='Email' class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <input formControlName='email' class="form-control" type="text" id="email" name="email" placeholder="email"> 
            </div>
         
            <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"class="alert alert-danger">
                
                <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
                <div *ngIf="registerForm.get('email')?.errors?.['pattern']">Email must be follow pattern username@domain.ext</div>
            </div>

        </div>
        
        
        
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                <input formControlName='password' class="form-control" [type]="fieldTextType ? 'text':'password'" id="password" name="password" placeholder="password" >
                <div class="input-group-append">
                    <span class="input-group-text">
                    <button type="button" id='showpwd' class="input-group btn btn-sm" (click)="showPassword()">
                        <i class="fa" [ngClass]="{'fa-eye-slash':!fieldTextType,'fa-eye': fieldTextType }" [ngbTooltip]="fieldTextType ? 'Hide Password' : 'Show Password'" ></i></button>
                    </span>
                </div>
            </div>
            <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"class="alert alert-danger">
                
                <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
                <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 3 characters</div>
                <div *ngIf="registerForm.get('password')?.errors?.['maxlength']">Password must not exceed 16 characters</div>
            </div>
        </div>
            <input class="btn btn-primary btn-block btn-lg" type='submit'value='Register Now'> 
            <span *ngIf="(registerForm.get('name')?.untouched || registerForm.get('email')?.untouched || registerForm.get('password')?.untouched) && regBtnClicked" class = 'block' style="font-weight: bold;color:darkred;font-size:18px;margin-left:15%;margin-top:0.25%;">Please enter the required fields</span> <br/><br/>
            <div class="alert" [ngClass]="{'alert-success':registrationSuccess,'alert-danger':!registrationSuccess && regBtnClicked}">
                <div *ngIf="registrationSuccess">Registration Successfull</div>
                <div *ngIf="!registrationSuccess && regBtnClicked && errMsg==''">Registration Unsuccessfull:Server might be down</div>         
                <div *ngIf="!registrationSuccess && regBtnClicked && errMsg!=''">Registration Not Successfull:{{errMsg}}</div>         
            </div>
            <a class="link-primary" style="text-align:center;"  *ngIf="registrationSuccess" (click)="router.navigate(['']);">Go to Login</a>
            
            
    </form>
</div>  
